<h2>Welcome to Pizza Shop!</h2>

<% @products.each do |product| %>
  <p>
  	<%= product.title %>
  	<%= product.description %>
  	<%= product.price %>
  	<%= product.size %>
  	
  </p> 
<% end %>
<button class="btn btn-primary btn-lg" onclick="something()">Click me!</button>



